<div><a ui-sref="Name">Name: </a>{{Person.Name}}</div>
<div><a ui-sref="Gender">Gender: </a>{{Person.Gender}}</div>
<div><a ui-sref="Age">Age: </a>{{Person.Age}}</div>
<div><a ui-sref="Height">Height: </a>{{Person.Height}}</div>
<div><a ui-sref="Weight">Weight: </a>{{Person.Weight}}</div>
<div><a ui-sref="GlassSize">Glass Size: </a>{{Person.GlassSize}}</div>
<div><a ui-sref="GlassAmount">Glass Amount: </a>{{Person.GlassAmount}}</div>
<div><a ui-sref="StartTime">Start Time: </a>{{Person.StartTime}}</div>
<div><a ui-sref="EndTime">End Time: </a>{{Person.EndTime}}</div>