<div class="numberbuttons padding">
    <button class="button button-numpad" ng-click="ngClick+'1'" ng-model="ngModel">1</button>
    <button class="button button-numpad" ng-click="Person.Age=Person.Age+'2'" ng-model="Person.Age">2</button>
    <button class="button button-numpad" ng-click="Person.Age=Person.Age+'3'" ng-model="Person.Age">3</button><br />
    <button class="button button-numpad" ng-click="Person.Age=Person.Age+'4'" ng-model="Person.Age">4</button>
    <button class="button button-numpad" ng-click="Person.Age=Person.Age+'5'" ng-model="Person.Age">5</button>
    <button class="button button-numpad" ng-click="Person.Age=Person.Age+'6'" ng-model="Person.Age">6</button><br />
    <button class="button button-numpad" ng-click="Person.Age=Person.Age+'7'" ng-model="Person.Age">7</button>
    <button class="button button-numpad" ng-click="Person.Age=Person.Age+'8'" ng-model="Person.Age">8</button>
    <button class="button button-numpad" ng-click="Person.Age=Person.Age+'9'" ng-model="Person.Age">9</button><br />
    <button class="button button-clear "></button>
    <button class="button button-numpad" ng-click="Person.Age=Person.Age+'0'" ng-model="Person.Age">0</button>
    <button class="button button-numpad" ng-click="ngClick.substring(0, {{targetItem}}.length - 1)" ng-model="ngModel"><i class="fa fa-chevron-left"></i></button>
</div>